{% load static %}

<html> 
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Kholish-Home Page</title>
	</head>
	<style>
		header {
			color: yellow;
			font-size: 20;
			text-align: right;
		}
		body {
			background-color: lightgreen;
			text-align: center;
		}
		img {
			height: 400px;
		}
		table {
			margin: auto;
			text-align: left;
		}
	</style>
	<header>Bio</header>
	<body>
		<h1>Muhammad Nurkholish</h1>
		<img src="{% static 'photo profile.jpg' %}" alt="ini Kholish">		
		<p>		
			Seorang mahasiswa tingkat dua yang menyukai kucing dan berteman dengan sesama pecinta kucing
		</p>
		<table>
			<tbody>
				<tr>
					<th>Nama    </th>
					<td>Kholish</td>
				</tr>
				<tr>
					<th>Kelas</th>
					<td>A</td>
				</tr>	
				<tr>
					<th>NPM</th>
					<td>1806186881</td>
				</tr>
				<tr>
					<th>Angkatan</th>
					<td>2018</td>
				</tr>
				<tr>
					<th>Universitas</th>
					<td>Universitas Indonesia</td>
				</tr>			
				<tr>
					<th>Hobi</th>
					<td>main hp, mentonton youtube, membaca Webtoon dan beberapa artikel</td>
				</tr>
			</tbody>
		</table> 
	</body>
</html>






